<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.droidkaigi.confsched2018"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.detail.SessionDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.map.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.sponsors.SponsorsActivity"
            android:label="@string/title_activity_sponsors"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.about.AboutThisAppActivity"
            android:label="@string/title_activity_about_this_app"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.speaker.SpeakerDetailActivity"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
        <activity
            android:name=".presentation.topic.TopicDetailActivity"
            android:parentActivityName=".presentation.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.droidkaigi.confsched2018.presentation.MainActivity"
                />
        </activity>
    </application>

</manifest>
