<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.droidkaigi.confsched2018">

    <application
        android:name=".presentation.DebugApp"
        tools:replace="android:name">

    </application>

</manifest>